APP_NAME=Projeto Automotivo API
APP_ENV=development
APP_DEBUG=true
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/projeto_automotivo
ALLOWED_ORIGINS=http://localhost:3000

